.App {
    text-align: center;
  }
  
  
  .container {  
    display: flex; 
    align-items: flex-end;
    justify-content: center;
  }
  
  
  .bar-wrapper { 
    height: 65vh !important;
  }
  .bar { 
    margin: 0 1px;  
    /* border-top-left-radius: 4%;
    border-top-right-radius: 4%; */
  
  }
  
  .button-group { 
    flex-wrap: wrap;
  }
  
  /* preventing default arrow in number input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }